<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rafo.reservation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Reserve"
            android:label="@string/title_activity_reserve"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rafo.reservation.MainMenu" />
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rafo.reservation.LoginActivity" />
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_menu" />
        <activity
            android:name=".ViewInventoryInfo"
            android:label="@string/title_activity_view_inventory_info" />
        <activity
            android:name=".ReturnItem"
            android:label="@string/title_activity_return_item"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyReservations"
            android:label="@string/title_activity_my_reservations" />
        <activity android:name=".MyProfile" />

        <service
            android:name="server.korisnik.CheckLoginCredentials"
            android:exported="false" />
        <service
            android:name="server.korisnik.CreateNewUser"
            android:exported="false" />
        <service
            android:name="server.korisnik.UpdateUserInfo"
            android:exported="false" />
        <service
            android:name="server.koristenje.GetMyReservations"
            android:exported="false" />
        <service
            android:name="server.ObradiSliku"
            android:exported="false" />
        <service
            android:name="server.koristenje.MakeNewReservation"
            android:exported="false" />
        <service
            android:name="server.koristenje.EndReservation"
            android:exported="false" />

        <receiver
            android:name=".ConectivityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
